body
{
    padding:0;
    margin:0px auto;
    width:500px;
    font-family: sans-serif;
}

input[type="text"]
{
    width:200px;
    height: 20px;
    line-height: 10px;
}

button 
{
    width:100px;
    height: 25px;
}
